asgiref==3.10.0
black==25.11.0
boto3==1.40.75
botocore==1.40.75
click==8.3.1
colorama==0.4.6
coverage==7.11.3
cssbeautifier==1.15.4
Django==5.2.8
django-environ==0.12.0
django-storages==1.14.6
djangorestframework==3.16.1
djlint==1.36.4
EditorConfig==0.17.1
flake8==7.3.0
iniconfig==2.3.0
isort==7.0.0
jmespath==1.0.1
jsbeautifier==1.15.4
json5==0.12.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
psycopg==3.2.12
psycopg-binary==3.2.12
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
pytokens==0.3.0
PyYAML==6.0.3
regex==2025.11.3
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0

# Production WSGI Server
gunicorn==23.0.0

# LLM Integrations (for chatbot features)
groq==0.9.0
anthropic==0.39.0
