{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Dreambook Salon{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="layout">
    {% include 'components/organisms/navbar.html' %}
    <main class="layout__main">
      {% include 'components/organisms/flash_messages.html' %}
      {% block content %}{% endblock content %}
    </main>
    {% include 'components/organisms/footer.html' %}
    {% block extra_scripts %}{% endblock extra_scripts %}
  </body>
</html>
